h1,
h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
}

code {
  font-family: 'Fira Mono', 'Operator Mono', 'Fira Code Retina', 'Fira Code',
    'FiraCode-Retina', 'Andale Mono', 'Lucida Console', Consolas, Monaco,
    monospace;
}
