@import url('https://rsms.me/inter/inter.css');

@tailwind base;

@tailwind components;

body {
  @apply font-sans antialiased;
}

.checkbox:focus-within > .checkbox-icon-container {
  @apply ring;
}

.checkbox:focus-within > .checkbox-icon-container.error {
  @apply ring-red-200;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollable {
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.modal-portal-container {
  @apply relative;
  z-index: 10000;
}

.modal-enter {
  @apply transform scale-95 opacity-0;
}

/* inspired from https://tailwindui.com/components/application-ui/overlays/modals */
.modal-enter-active {
  @apply transition-all duration-300 ease-out transform scale-100 opacity-100;
}

.modal-exit {
  @apply transform scale-100 opacity-100;
}

.modal-exit-active {
  @apply transition-all duration-200 ease-in transform scale-95 opacity-0;
}

.toast {
  @apply transition-all duration-200 ease-linear transform;
}

.toast-right-enter {
  @apply -translate-y-full opacity-0;
}

.toast-right-enter-active {
  @apply translate-y-0 opacity-100;
}

.toast-right-exit-active {
  @apply -translate-y-full opacity-0;
}

.drawer {
  @apply transition-transform duration-200 ease-linear transform;
}

.drawer-right-enter {
  @apply translate-x-full;
}

.drawer-right-enter-active {
  @apply translate-x-0;
}

.drawer-right-exit-active {
  @apply translate-x-full;
}

.drawer-left-enter {
  @apply -translate-x-full;
}

.drawer-left-enter-active {
  @apply translate-x-0;
}

.drawer-left-exit-active {
  @apply -translate-x-full;
}

.drawer-top-enter {
  @apply -translate-y-full;
}

.drawer-top-enter-active {
  @apply translate-y-0;
}

.drawer-top-exit-active {
  @apply -translate-y-full;
}

.drawer-bottom-enter {
  @apply translate-y-full;
}

.drawer-bottom-enter-active {
  @apply translate-y-0;
}

.drawer-bottom-exit-active {
  @apply translate-y-full;
}

.portal-container {
  @apply absolute top-0 left-0 right-0 h-0;
  z-index: 10001;
}

/* inspired from https://tailwindui.com/components/application-ui/elements/dropdowns */
.portal-content-enter {
  @apply transform scale-95 opacity-0;
}

.portal-content-enter-active {
  @apply transition-all duration-100 ease-out transform scale-100 opacity-100;
}

.portal-content-exit {
  @apply transform scale-100 opacity-100;
}

.portal-content-exit-active {
  @apply transition-all duration-75 ease-in transform scale-95 opacity-0;
}

/* inspired from https://tailwindui.com/components/application-ui/elements/dropdowns */
.popup-enter {
  @apply transform scale-95 opacity-0;
}

.popup-enter-active {
  @apply transition-all duration-100 ease-out transform scale-100 opacity-100;
}

.popup-exit {
  @apply transform scale-100 opacity-100;
}

.popup-exit-active {
  @apply transition-all duration-75 ease-in transform scale-95 opacity-0;
}

/* alert action buton styles */
.alert-button-default-red {
  @apply border-red-500 text-red-500 !important;
}

.alert-button-default-blue {
  @apply border-blue-500 text-blue-500 !important;
}

.alert-button-default-yellow {
  @apply border-yellow-500 text-yellow-500 !important;
}

.alert-button-default-green {
  @apply border-green-500 text-green-500 !important;
}

.alert-button-primary-red,
.alert-button-default-red:hover {
  @apply bg-red-500 text-white !important;
}

.alert-button-primary-blue,
.alert-button-default-blue:hover {
  @apply bg-blue-500 text-white !important;
}

.alert-button-primary-yellow,
.alert-button-default-yellow:hover {
  @apply bg-yellow-500 text-white !important;
}

.alert-button-primary-green,
.alert-button-default-green:hover {
  @apply bg-green-500 text-white !important;
}

.page-button {
  @apply transition-none !important;
}

.drawer-portal-container {
  @apply relative;
  z-index: 100;
}

@tailwind utilities;
