@import url('https://rsms.me/inter/inter.css');

@tailwind base;

@tailwind components;

body {
  @apply font-sans antialiased;
}

.modal-portal-container {
  @apply relative;
  z-index: 10000;
}

.modal-enter {
  @apply opacity-0;
}

.modal-enter-active {
  @apply transition-opacity duration-300 ease-in-out opacity-100;
}

.modal-exit {
  @apply opacity-100;
}

.modal-exit-active {
  @apply transition-opacity duration-300 ease-in-out opacity-0;
}

.modal-content-container {
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.menu-enter {
  @apply opacity-0;
}

.menu-enter-active {
  @apply transition-opacity duration-300 ease-in-out opacity-100;
}

.menu-exit {
  @apply opacity-100;
}

.menu-exit-active {
  @apply transition-opacity duration-300 ease-in-out opacity-0;
}

@tailwind utilities;
