@import url('https://rsms.me/inter/inter.css');

@tailwind base;

@tailwind components;

body {
  @apply font-sans antialiased;
}

.scrollable {
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.modal-portal-container {
  @apply relative;
  z-index: 10000;
}

.modal-enter {
  @apply transform scale-95 opacity-0;
}

/* inspired from https://tailwindui.com/components/application-ui/overlays/modals */
.modal-enter-active {
  @apply transition-all duration-300 ease-out transform scale-100 opacity-100;
}

.modal-exit {
  @apply transform scale-100 opacity-100;
}

.modal-exit-active {
  @apply transition-all duration-200 ease-in transform scale-95 opacity-0;
}

.menu-portal-container {
  @apply absolute top-0 left-0 right-0 h-0;
  z-index: 10001;
}

/* inspired from https://tailwindui.com/components/application-ui/elements/dropdowns */
.menu-enter {
  @apply transform scale-95 opacity-0;
}

.menu-enter-active {
  @apply transition-all duration-100 ease-out transform scale-100 opacity-100;
}

.menu-exit {
  @apply transform scale-100 opacity-100;
}

.menu-exit-active {
  @apply transition-all duration-75 ease-in transform scale-95 opacity-0;
}

/* inspired from https://tailwindui.com/components/application-ui/elements/dropdowns */
.popup-enter {
  @apply transform scale-95 opacity-0;
}

.popup-enter-active {
  @apply transition-all duration-100 ease-out transform scale-100 opacity-100;
}

.popup-exit {
  @apply transform scale-100 opacity-100;
}

.popup-exit-active {
  @apply transition-all duration-75 ease-in transform scale-95 opacity-0;
}

/* alert action buton styles */
.alert-button-default-red {
  @apply border-red-500 text-red-500 !important;
}

.alert-button-default-blue {
  @apply border-blue-500 text-blue-500 !important;
}

.alert-button-default-yellow {
  @apply border-yellow-500 text-yellow-500 !important;
}

.alert-button-default-green {
  @apply border-green-500 text-green-500 !important;
}

.alert-button-primary-red,
.alert-button-default-red:hover {
  @apply bg-red-500 text-white !important;
}

.alert-button-primary-blue,
.alert-button-default-blue:hover {
  @apply bg-blue-500 text-white !important;
}

.alert-button-primary-yellow,
.alert-button-default-yellow:hover {
  @apply bg-yellow-500 text-white !important;
}

.alert-button-primary-green,
.alert-button-default-green:hover {
  @apply bg-green-500 text-white !important;
}

.date-picker-enter {
  @apply opacity-0;
}
.date-picker-enter-active {
  @apply opacity-100;
}
.date-picker-exit {
  @apply opacity-100;
}
.date-picker-exit-active {
  @apply opacity-0;
}
.date-picker-enter-active,
.date-picker-exit-active {
  @apply transition-opacity duration-100 ease-in;
}

@tailwind utilities;
